header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

header .logo a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  color: white;
  margin-left: 40px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

nav ul li a:hover {
  color: #1ed760;
}

.body1 .body2 {
  width: 60%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fae62d;
  height: 600px;
}

.body1 .body2 h4 {
  text-align: center;
  margin-top: 60px;
}

.body1 .body2 h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 24px;
  margin-top: 30px;
  text-align: left;
  line-height: 1.2;
  font-weight: 900;
  font-size: 32px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.body1 .body2 h2 {
  text-align: justify;
  line-height: 1.2;
  margin-top: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 24px;
}

.body1 .body2 button {
  margin-top: 40px;
  text-align: center;
}

.body1 .imgbd {
  width: 40%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fae62d;
  text-align: center;
  height: 600px;
}

.body1 .imgbd .img1 {
  height: 400px;
  margin-top: 80px;
}

.body1 .bt {
  text-align: center;
}

.body1 .bt button {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  background-color: #000;
}

.body1 .bt button a {
  text-decoration: none;
  color: white;
}

.body3 {
  background: #2d46b9;
  height: 1200px;
}

.img2 {
  width: 60px;
  float: left;
}

.img2 img {
  height: 600px;
  width: 600px;
}

.body4 {
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  color: #1ed760;
}

.body4 p {
  padding-top: 60px;
}

.body4 h1 {
  padding-top: 48px;
  padding-bottom: 24px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.body4 h3 {
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.body4 button {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  background: black;
}

.body4 button a {
  color: #1ed760;
  text-decoration: none;
}

.footer {
  background: #000;
}

ul {
  list-style: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  background-color: #000;
  margin: auto;
  height: 400px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

a {
  color: white;
}

.footer-col h4 {
  color: #333;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 500px;
}

.footer-col ul li {
  margin-bottom: 20px;
}

.footer-col ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.footer-col ul li a:hover {
  color: #1ed760;
  padding-left: 20px;
}

.footer-col .social-link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 20px 20px 0;
  background-color: #333;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  border-radius: 50%;
}

.footer-col .social-link a:hover {
  color: #1ed760;
}
/*# sourceMappingURL=index.css.map */